#header {
  position: fixed;
  z-index: 1000000;

  .avatar {
    width: 8rem;
    height: 9rem;
    background-color: red;
    position: fixed;
    top: calc(var(--r) * 3);
    left: 50%;
    transform: translateX(-50%);
    will-change: transform, left, top;
  }

  .nav-wrapper {
    perspective: 1200px;
    position: fixed;
    bottom: calc(var(--r) * 3);
    left: 50%;
    transform: translateX(-50%);

    display: flex;

    &:hover {
      .block {
        transform: rotateX(90deg);
      }
    }

    .block {
      --rot-y: 0;
      --depth: calc(var(--r) * 7.2);
      width: calc((var(--r) * 47.8) / 3);
      height: var(--depth);
      position: relative;
      transform-style: preserve-3d;
      transform-origin: center;
      transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      will-change: transform;

      &:nth-child(1) {
        transition-delay: 310ms;
      }
      &:nth-child(2) {
        transition-delay: 330ms;
      }
      &:nth-child(3) {
        transition-delay: 350ms;
      }

      // transform: rotateX(var(--rot-y));

      .side {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;

        display: flex;
        align-items: center;
        justify-content: center;

        &--cover {
          transform: translateZ(calc(var(--depth) / 2 - 1px));
        }

        &--link {
          transform: rotateX(90deg) translateZ(calc(var(--depth) / 2 - 1px));
        }

        &--alternate {
          transform: rotateX(-90deg) translateZ(calc(var(--depth) / 2 - 1px));
        }

        &--game {
          transform: rotateX(180deg) translateZ(calc(var(--depth) / 2 - 1px));
        }
      }
    }
  }

  .nav {
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center;
    transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    will-change: transform;
    transform: rotateX(var(--rot-y));

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "title title . . label label label nav nav nav nav nav";
  gap: var(--gap);

  padding: var(--row) var(--column);

  .title {
    grid-area: title;
  }

  .label {
    grid-area: label;
  }

  nav {
    grid-area: nav;

    ul {
      cursor: pointer;
    }

    &__block {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      background-color: #bfbfbf;
      z-index: 10;

      padding: 0 calc(2 * var(--r));
      font-size: calc(var(--r) * 1.8);

      &--cover {
        transform: translateZ(calc(var(--depth) / 2 - 1px));

        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &--links {
        transform: rotateX(90deg) translateZ(calc(var(--depth) / 2 - 1px));
      }

      &--mini-game {
        transform: rotateX(-90deg) translateZ(calc(var(--depth) / 2 - 1px));
      }

      &--blank {
        transform: rotateX(180deg) translateZ(calc(var(--depth) / 2 - 1px));
      }
    }
  }
}

@keyframes spin {
  to {
    transform: rotateX(360deg);
  }
}
