#header {
  position: fixed;
  top: 1rem;
  width: 100vw;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  background-color: transparent;

  .content-wrapper {
    width: min(100vw - 2rem, 24rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem;
    gap: 2rem;
    background-color: #eeebeb;
    cursor: pointer;
    overflow: hidden;

    transition: height 0.5s ease;

    &.expanded {
      height: auto;
    }

    .group {
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo-wrapper {
        position: relative;
        width: 80%;
        aspect-ratio: 102 / 125;

        .reps {
          position: absolute;
          bottom: 16%;
          right: 0;
          transform: translateX(30%);
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #808080;
          color: white;
          padding: 0.1rem 0.3rem;
          font-size: 0.8rem;
          line-height: 1;
          pointer-events: none;
        }

        .logo__frame {
          position: absolute;
          top: 0;
          display: none;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .text-content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: #636262;
      justify-content: space-between;

      // .clock .inline {
      //   animation: blink 1s step-start infinite;
      // }

      .email-cta {
        span {
          font-weight: 500;
          color: black;
        }

        display: flex;
        gap: 0.25rem;
      }

      .schedule-cta {
        background-color: #5757ff;
        padding: 0.15rem 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }

  .nav {
    &__list {
      display: flex;
      flex-direction: row;
      gap: 0.25rem;
    }

    &__link {
      padding: 0.5rem 0.75rem;
      background-color: #9d9d9d;
    }
  }
}
