.layout {
  --sidebar-width: min(100vw, 25rem);
  display: flex;
  flex-direction: row;

  &.sidebar-open {
    .content-sidebar {
      flex: initial;
      overflow-x: initial;
    }

    #header {
      width: calc(100% - var(--sidebar-width));
    }

    @media screen and (max-width: 60rem) {
      #header {
        width: 100vw;
      }

      .content-sidebar {
        transform: translateY(0);
        visibility: visible;
      }
    }
  }
}
