.image-carousel {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: ". image image image . . . . . . . .";
  padding: 0 var(--my);
  padding-top: calc(var(--cell-spacing) * 2);
  gap: var(--gap);
  align-items: end;

  margin-top: calc(var(--r) * 5);

  .image-container,
  canvas {
    grid-area: image;
  }

  canvas {
    position: relative;
    z-index: 5;
  }

  .image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 4/5;
    overflow: hidden;
    z-index: 1;
  }

  .counter {
    grid-area: counter;
  }

  .controls {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;

    .control {
      flex: 1;

      &--left {
        cursor: w-resize;
      }

      &--right {
        cursor: e-resize;
      }
    }
  }

  @media (max-width: 64rem) {
    grid-template-areas: ". image image image image image . . . . . .";
    padding-top: calc(var(--cell-spacing) * 2);
  }

  @media (max-width: 26rem) {
    grid-template-areas: ". image image image image image image image image image . .";
    padding-top: calc(var(--cell-spacing) * 5);
  }
}
