#logo {
  position: relative;
  width: calc(var(--r) * 13);
  aspect-ratio: 131 / 191;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: none;
  }
}
