#spotify-player {
  position: fixed;
  left: var(--layout-spacing);
  bottom: var(--layout-spacing);
  z-index: z("page-content");

  // @include media("<=phone") {
  //   display: none;
  // }
}

#spotify-player:hover {
  cursor: pointer;
}

#spotify-player:hover .cover-art,
#spotify-player:hover .vinyl {
  filter: blur(1px);
}

#spotify-player.hidden {
  visibility: hidden;
}

#spotify-player .wrapper {
  display: flex;
  flex-direction: column;
}

#spotify-player .deck {
  position: relative;
  width: calc(16 * var(--r));
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  // @include media("<=tablet") {
  //   width: calc(10 * var(--r));
  // }
}

#spotify-player .deck .vinyl {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: calc(10 * var(--r));
  aspect-ratio: 1 / 1;

  // @include media("<=tablet") {
  //   width: calc(7 * var(--r));
  // }
}

#spotify-player .cover-art {
  position: relative;
  // outline: 1px solid black;
  z-index: 2;
  width: calc(10 * var(--r));
  aspect-ratio: 1 / 1;
  background-color: green;

  // @include media("<=tablet") {
  //   width: calc(7 * var(--r));
  // }
}

#spotify-player .marquee {
  margin-top: calc(1 * var(--r));
  font-size: calc(1.8 * var(--r));
  position: relative;
  overflow: hidden;

  // @include media("<=tablet") {
  //   margin-top: calc(0.8 * var(--r));
  //   font-size: calc(1.4 * var(--r));
  // }
}

#spotify-player .marquee__inner {
  -webkit-font-smoothing: antialiased;
  width: fit-content;
  display: flex;
  flex: auto;
  flex-direction: row;
}

#spotify-player .marquee__part {
  flex-shrink: 0;
  padding: 0 4px;
  font-smooth: always;
}
