@use "../abstract/functions" as *;

.text-block {
  .inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: r(40) r(20);

    &--section-intro {
      .heading-wrapper {
        .heading {
          font-family: "Cooper Hewitt", sans-serif;
          font-size: r(90);
          font-weight: 900;
          white-space: pre-line;
        }
      }
    }

    &--space-between {
      grid-template-areas: "heading heading heading heading heading . . . . content content content content";

      .heading {
        grid-area: heading;
        width: 100%;
        position: relative;
        font-family: "Cooper Hewitt", sans-serif;
        font-size: r(90);
        font-weight: 900;
        white-space: pre-line;
        line-height: r(95);
        color: black;
        text-indent: r(var(--text-indent));

        &__gif {
          position: absolute;
          top: 0%;
          left: r(var(--gif-offset));
          width: r(160);
          aspect-ratio: 1/1;

          img {
            width: 100%;
            height: auto;
            object-fit: contain;
          }
        }
      }

      .content {
        grid-area: content;
        font-size: r(24);

        p {
          white-space: pre-line;
          margin-bottom: r(15);
          font-weight: 500;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        .cta-wrapper {
          margin-top: r(60);
        }
      }
    }
  }
}
