.text-block {
  .inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 var(--my);
    padding-top: calc(var(--cell-spacing));
    gap: var(--column-gap);

    &--default {
      grid-template-areas:
        "title title title . . . . . . . . ."
        ". . . content content content . . . . . .";
    }

    &--space-between {
      grid-template-areas: "title title title . . . . . . content content content";

      .title {
        grid-area: title;
      }

      .content {
        grid-area: content;

        p,
        button,
        a {
          font-size: var(--fs-body);
        }

        p + p {
          margin-top: calc(var(--cell-spacing) / 2);
        }

        display: flex;
        flex-direction: column;
        gap: calc(var(--cell-spacing) / 2);
      }

      @media (max-width: 64rem) {
        grid-template-areas: "title title title title . . . content content content content content";

        .content {
          gap: calc(var(--cell-spacing) * 1);
        }
      }

      @media (max-width: 26rem) {
        grid-template-areas:
          "title title title title title title title title title . . ."
          ". . content content content content content content content content content .";
        gap: calc(3 * var(--cell-spacing)) var(--column-gap);
        padding-top: calc(1.5 * var(--cell-spacing));

        .content {
          gap: calc(var(--cell-spacing) * 5);

          p + p {
            margin-top: calc(var(--cell-spacing));
          }
        }
      }
    }
  }
}
