// .trinket {
//   position: absolute;
//   // top: 2rem;
//   // left: 2rem;
//   // width: min(12rem, 25rem);
//   transform-origin: 50% 50%;

//   svg {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: auto;
//     vertical-align: middle;
//   }
// }

.trinket {
  position: relative; // Relative within the Body container
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.trinket > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.matter-container {
  pointer-events: auto; // Allow pointer events on canvas for dragging
}
