.matter-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  canvas {
    cursor: grab;
    pointer-events: auto !important;

    &:active {
      cursor: grabbing;
    }
  }
}
