:root {
  --r: calc((100vw / 1920) * 10);
  --layout-spacing: calc(2 * var(--r));
  --row: calc(2 * var(--r));
  --gap: calc(1.6 * var(--r));
  --column: calc(3 * var(--r));

  --color-bg-grey: #3f3f3f;
  --color-white: #fff;
}

$color-white: #ffffff;
$color-grey: #333;
$color-container-grey: #d9d9d9;
$color-bg-grey: #e8e8e8;
$color-highlight: #0972db;

$z-indexes: (
  "dev",
  "preloader",
  "page-manager",
  "page-content",
  "navigation",
  "interaction",
  "footer",
  "content",
  "logo",
  "unsupported"
);
