@use "../../abstract/variables" as b;

.page--home {
  padding: 0;

  .inner {
    position: relative;
    background-color: white;
    isolation: isolate;
  }

  .hero {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: -1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .matter-container {
      overflow: hidden;

      position: relative;
      width: 100vw;
      height: 100dvh;
      background-color: #d9d9d9;
    }
  }

  .rest {
    min-height: 100vh;
    background-color: white;
  }
}
