@use "../../abstract/variables" as b;

.page--home {
  padding: 0;

  .inner {
    position: relative;
    background-color: white;
  }

  .hero {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #d9d9d9;
    z-index: 3;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .matter-container {
      overflow: hidden;
      --column: calc(100vw / 10);

      position: relative;
      width: calc(var(--column) * 6);
      height: calc(100vh - (var(--column) * 2));
      background-color: #bebebe;

      @media (max-aspect-ratio: 1/1) {
        width: calc(100vw - (var(--column) * 2));
        height: calc(100vh - (var(--column) * 2));
      }
    }
  }
}
