@use "../../abstract/variables" as b;

.page--home {
  padding: 0;

  .inner {
    position: relative;
    background-color: white;
    isolation: isolate;
  }

  .hero {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: -1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .matter-container {
      overflow: hidden;

      position: relative;
      width: 100vw;
      height: 100dvh;
      background-color: #d9d9d9;

      .loading-bar {
        width: 6rem;
        height: 100px;
        background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        border-radius: 20px;
        border: 3px solid #1b1b1b;
        z-index: 10;
      }
    }
  }

  .rest {
    min-height: 100vh;
    background-color: white;
  }
}
