@font-face {
  font-family: "PP Neue Montreal";
  src:
    url("/fonts/pp-medium.woff2") format("woff2"),
    url("/fonts/pp-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src:
    url("/fonts/pp-regular.woff2") format("woff2"),
    url("/fonts/pp-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src:
    url("/fonts/pp-bold.woff2") format("woff2"),
    url("/fonts/pp-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
